*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.webhead .container{
    background-color: #1F2937;
    font: Roboto;
    color: white;
    padding:18% ;
    padding-top: 12px;
    padding-bottom: 80px;
}

.navbar{
    display: flex;
    padding-bottom: 62px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 32px;
    flex-basis: 50%;
    margin-bottom: 5px;
}

.headlinks{
    list-style: none;
    display: flex;
    column-gap: 24px;
    justify-content: space-between;
}

.headinfo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headtext{
  color: white;
  flex-basis:45%;
  flex-shrink: 1;
  margin-right: 48px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.headinfo .headimg{
    margin-top: 16px;
    flex: 0 0.8 320px;
}

.headimg img{
    width: 100%;
    height: auto;
}

.headtext h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 16px;
}

.headtext p{
    font-size: 24px;
    color: #E5E7Eb;
}

.sign-up1{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 12px 32px;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 16px;
    align-self: center;
    
}


.randominfo{
    padding-left: 24%;
    padding-right: 24%;
    margin-bottom: 56px;
}

.randominfo .infotitle{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin:36px;
}

.boxes{
    display: flex;
    justify-content: space-between;
    gap:5%;

}

.infoimg{
    border: 4px solid #3882F6;
    width: 100%;
    border-radius: 16px;
}

.infoimg img{
    width: 100%;
}

[class^="box-"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex:0 1 auto;
    padding-bottom: 40px;
}


.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font: light italic;
    color: #1F2937;
}

.quote .container{
    display: flex;
    flex-direction: column;
    padding: 80px 24% 60px 24%;
    margin-top: 80px;
    gap:24px;
}


.author{
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.websignup{
    background-color: #F9FAF8;
    padding: 56px 18%;
}



.attentiontext{
    color:#F9FAF8;
    font-size: 24px;
}

.websignup .container{
    background-color: #3882F6;
    border-radius: 12px;
    padding: 32px 13%;
    display: flex;
    justify-content: center;
    color:#E5E7EB;
    font-size: 18px;
    flex-wrap: wrap;
    min-width: 400px;
}

.attention{
    margin-right: 32px;
    margin-bottom: 12px;
    flex-grow:1;
}

.sign-up2{
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    font-size: 18px;
    border-radius: 8px;
    padding: 6px 24px;
    flex-shrink: 0;
    align-self: flex-end;
}

.webfooter{
    background-color: #1F2937;
    color:#F9FAF8
}

.webfooter .container{
    display: flex;
    padding: 20px;
    justify-content: center;
}